<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.title, category_path(category) %></li>
<% end %>
</ul>

<% @items.each do |item| %>
  <% if item.inventory > 0 %>
    <p><%= item.title %> | <%= number_to_currency(item.price/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% end %>
<% end %>

<% if !!current_user.current_cart %>
  <p><%= link_to "Show Cart", cart_path(current_user.current_cart) %> </p>
<% end %>
